<h2>New</h2>

<form [formRoot]="form">
  <label class="form-field">
    <span>ISBN</span>
    <input [formField]="form.isbn" />
    @if (form.isbn().touched() && form.isbn().getError('required')) {
      <small>Please insert an Author.</small>
    }
  </label>

  <label class="form-field">
    <span>Title</span>
    <input [formField]="form.title" />
    @if (form.title().touched() && form.title().getError('required')) {
      <small>Please insert a title.</small>
    }
  </label>

  <label class="form-field">
    <span>Subtitle</span>
    <input [formField]="form.subtitle" />
  </label>

  <label class="form-field">
    <span>Author</span>
    <input [formField]="form.author" />
    @if (form.author().touched() && form.author().getError('required')) {
      <small>Please insert an Author.</small>
    }
  </label>

  <label class="form-field">
    <span>Abstract</span>
    <input [formField]="form.abstract" />
  </label>

  <div class="form-actions">
    <button type="submit" [disabled]="form().invalid()">Save</button>
  </div>
</form>
