<h2>New</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label class="form-field">
    <span>ISBN</span>
    <input formControlName="isbn" />
  </label>

  <label class="form-field">
    <span>Title</span>
    <input formControlName="title" />
    <small *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('required')">
      Please insert a title.
    </small>
  </label>

  <label class="form-field">
    <span>Subtitle</span>
    <input formControlName="subtitle" />
  </label>

  <label class="form-field">
    <span>Author</span>
    <input formControlName="author" />
    <small *ngIf="form.get('author')?.dirty && form.get('author')?.hasError('required')">
      Please insert an Author.
    </small>
    <small *ngIf="form.get('author')?.dirty && form.get('author')?.hasError('invalidAuthor')">
      Der Name eines Autors darf keine Zahlen beinhalten!
    </small>
  </label>

  <label class="form-field">
    <span>Abstract</span>
    <input formControlName="abstract" />
  </label>

  <div class="form-actions">
    <button type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>
