<h1 class="page-title">Books</h1>

<input
  class="search-field"
  type="search"
  placeholder="Search..."
  (input)="searchTerm.set($event.target.value)"
/>

@if (booksResource.isLoading()) {
<p>Loading books...</p>
} @else if (booksResource.error(); as error) {
<p>Error: {{ error.message }}</p>
}

<div class="book-grid">
  @for (book of booksComputed(); track book.isbn) {
  <app-book-card
    [book]="book"
    [markText]="searchTerm()"
    (detailClick)="goToBookDetails($event)"
    (deleteClick)="deleteBook($event)"
  />
  }
</div>
